@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

body {
      font-family: 'M PLUS Rounded 1c', sans-serif;
      background: url('/img/bg.png');
      background-size: cover;
}

@keyframes float {
      0% {
            transform: translatey(0px);
      }

      50% {
            transform: translatey(-10px);
      }

      100% {
            transform: translatey(0px);
      }
}

.img-float {
      animation: float 6s ease-in-out infinite;
}